---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'

let title = 'Take Zeasy | Home';
let description = 'Silence is Golden';
let permalink = 'https://zeasy.dev/';

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>
  <body class="flex flex-col justify-between max-w-screen-md mx-auto">
    <Header />
    <main class="hero">
      <p>I build <span class="text-pink-600">bridges</span> between people.</p>
      <p>Sometimes <span  class="text-pink-600">conversation</span> is the best bridge.</p>
      <p>Sometimes  the best solution is <span  class="text-pink-600">bleeding-edge tech</span>.</p>
      <p>I can do <span  class="text-pink-600">both</span>.</p>
    </main>
    <Footer />
  </body>
</html>

<style>
  .hero {
    @apply leading-none text-indigo-100;
    font-size: clamp(2rem, 10vw, 3rem); 
    font-family: 'Playfair Display', serif;
    font-weight: 700;

  }
  .hero p {
    @apply mb-8
  }
</style>
