---
export interface Props {
  title: string;
  publishDate: string;
}

const { title, publishDate } = Astro.props;
---

<section class="flex-grow pb-20 pt-2">
  <article class="content prose prose-pink max-w-prose prose-lg	" >
    <header class="">
      <h3>{publishDate}</h3>
      <h1 >{title}</h1>
    </header>
    <main >
      <slot />
    </main>
  </article>
</section>

<style>
  h1 { 
    @apply text-blue-100;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
  }

   h3 { 
    font-family: 'Playfair Display', serif;
    font-weight: 700;
  }
  .content {
      @apply text-blue-100;
  }

</style>


