---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<article class="prose">

    <h3 class="publish-date">{post.publishDate}</h3>
    <a href={post.url} class="no-underline text-gray-100"><h1 >{post.title}</h1></a>

</article>

<style>
  a {
    @apply text-gray-200;
  }
  h1 {
    @apply text-gray-200 font-normal text-2xl;
  }
  h3 {
    @apply text-gray-300 text-sm mb-0;

  }
</style>
