---
const today = new Date();
const year = today.getFullYear();

---
<footer class="flex py-1 text-gray-400 border-gray-400 w-full justify-center flex-col tracking-wide">
  <ul class="flex flex-wrap  leading-5">
    <li class="border-b mr-3 mb-2"><a href="/">Home</a> </li>
    <li class="border-b mr-3 mb-2"><a href="/blog">Blog</a></li>
    <li class="border-b mr-3 mb-2"><a href="malito:jozeyuri@gmail.com">Say Hi</a></li>
    <li class="border-b mr-3 mb-2"><a href="https://github.com/zeyuri">Github</a></li>
    <li class="border-b mr-3 mb-2"><a href="https://twitter.com/takezeasy">Twitter</a></li>
    <li class="border-b mr-3 mb-2"><a href="https://www.linkedin.com/in/zeyuri/">Linkedin</a></li>    
  </ul>
  <p>© 2021 José Yuri Cunha Ramos | <a class="border-b">Source Code</a></p>
  

    
  
</footer>