<header class="header">
    <h1 class="text-2xl">
      <a href="/">
        Zeasy
      </a>
    </h1>
    <nav>
      <ul class="flex text-xl">
        <li>about</li>
        <li class="ml-3">blog</li>
      </ul>
    </nav>
</header>

<style>
 .header {
   @apply flex w-full justify-between items-center mb-6 border-gray-800 text-indigo-100;
 }
</style>
