<header class="mb-6 border-gray-800 text-indigo-100 flex justify-between w-full ">
  <h1 class="-mt-2">      
    <a href="/" class="no-underline text-5xl text-pink-600 md:text-6xl header">
      zeasy
    </a>
  </h1>
  <nav>
    <ul class="text-right underline sm:text-lg">
      <li class="ml-2">
        <a href="/blog">
          {"blog"}
        </a>
      </li>
      <li class="ml-2">
        <a href="malito:jozeyuri@gmail.com">
        {"say hi"}
        </a>
      </li>
    </ul>
  </nav>
</header>
<style>
  .header {
      font-family: 'Knewave', cursive;  
  }
</style>

